# A package with a known path traversal vulnerability
Flask==0.12.3  # CVE-2018-1000656

# A package with a known remote code execution vulnerability
Django==4.2.14  # CVE-2019-12308

# A package with a known denial of service vulnerability
Pillow==6.2.1  # CVE-2020-5313

# A package with a known directory traversal vulnerability
urllib3==1.24.2  # CVE-2019-11324

# A package with a known arbitrary code execution vulnerability
PyYAML==5.1  # CVE-2017-18342

# A package with a known SQL injection vulnerability
SQLAlchemy==1.2.17  # CVE-2019-7164

# A package with a known SSRF (Server-Side Request Forgery) vulnerability
requests==2.19.1  # CVE-2018-18074

# A package with a known XSS (Cross-Site Scripting) vulnerability
Jinja2==2.10.1  # CVE-2019-10906

##
nltk==3.8.1



zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
